.container-fluid {
    padding-right: 0;
    padding-left: 0;
}
/* body {
     /*linear-gradient(0.00turn, #444444, #222222, #444444);
} */
@keyframes up {
    0% { top: 1000px; }
    100% { top: 0px; }
}
@keyframes left {
    0% { 
        opacity: 0;
        transform: scale(0.5);
        /* left: 1500px;  */
    }
    50% {
        opacity: 0;
        transform: scale(0.5);
        /* left: 1500px;  */
    }
    100% { 
        /* left: 0px; */
        transform: scale(1);
        opacity: 1; 
    }
}
@keyframes right {
    0% { left: -1500px; }
    50% { left: -10px; }
    100% { left: 0px; }
}
.goup {
    animation-name: up;
    animation-duration: 1.5s;
    position: relative;
}
.fbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    z-index: 10;
    justify-content: center;
}
.fbox h1, .fbox h2 {
    color: white;
    text-align: center;
    font-weight: 200;
}
.dropbelow {
    animation-name: down;
    animation-duration: 2s;
    position: relative;
}
.slide-l {
    animation-name: left;
    animation-duration: 5s;
    position: relative;
}
.slide-r {
    animation-name: right;
    animation-duration: 5s;
    position: relative;
}
@keyframes down {
    0% { top: -70px; }
    100% { top: 0px; }
}

@keyframes fadeIn {
    0% { opacity: 0; transform: scale(1.1); filter: blur(200px);  }
    50% { opacity: 0.2; transform: scale(1.1); filter: blur(0px) brightness(100%); }
    /* 50% {opacity: 0.7; transform: scale(0.8);} */
    100% {opacity: 1; transform: scale(1); filter: blur(0px) brightness(150%); }
}
@keyframes fadeIn2 {
    0% { opacity: 0; transform: scale(1.1); filter: blur(200px);  }
    50% { opacity: 0.2; transform: scale(1.1); filter: blur(0px); }
    /* 50% {opacity: 0.7; transform: scale(0.8);} */
    100% {opacity: 1; transform: scale(1); filter: blur(0px); }
}
@keyframes fadeIn4 {
    0% { opacity: 0; transform: scale(1.1); filter: blur(200px);  }
    100% {opacity: 1; transform: scale(1); filter: blur(0px); }
}
img {
    background-size: cover;
}
::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #444444;
}
.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}
.navbar-nav > li {
    display: inline-block;
    float:none;
}
#fullpage {
    z-index: 2;
}

.bg1 {
    background: url("img/concept3.jpg");
    background-size: cover;
    background-position: center;
    animation: fadeIn ease 5s forwards;
    filter:brightness(150%);
}
.spacer {
    padding-bottom: 0px;
}
.bg2 {
    background: url("img/bg2n.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.bg2n {
    background: url("img/bg2n.png"); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.bgn {
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.bg3 {
    background: url("img/concept2n.jpg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.fadefade {
    visibility: visible;
    animation: fadeIn4 ease 4s forwards;
}
.bg3n {
    background: url("img/concept2n.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.bg4 {
    background: url("img/bg3n.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.hidden {
    visibility: hidden;
}
.bg4n {
    background: url("img/bg3n .png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.parent {
    width: 50vw;
    height: 50vh;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top {
    align-self: flex-start;
}
.bottom {
    align-self: flex-end;
}
html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    /* overflow-x: hidden; */
    background-color: #111111;
}